html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.grid {
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  box-sizing: border-box;
  background: #212121;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.grid .row {
  display: flex;
  flex-grow: 1;
}

.grid .row .cell {
  height: 100%;
  position: relative;
  width: 100%;
}

.grid .row .cell::before,
.grid .row .cell::after {
  background: transparent;
  content: "";
  position: absolute;
  height: calc(100% - 8px);
  width: calc(100% - 8px);
}

.grid .row .cell.up::before,
.grid .row .cell.down::before,
.grid .row .cell.right::after,
.grid .row .cell.left::after {
  background: #f5f5f5;
}

.grid .row .cell.up::before {
  top: -4px;
  height: calc(100% - 4px);
}

.grid .row .cell.down::before {
  bottom: -4px;
  height: calc(100% + 4px);
}

.grid .row .cell.up.down::before {
  height: 100%;
}

.grid .row .cell.right::after {
  right: -4px;
  width: calc(100% + 4px);
}

.grid .row .cell.left::after {
  left: -4px;
  width: calc(100% - 4px);
}

.grid .row .cell.right.left::after {
  width: 100%;
}

.grid .row .cell.visited::before,
.grid .row .cell.visited::after {
  background: #bdbdbd;
}

.grid .row .cell.path::before,
.grid .row .cell.path::after {
  background: #757575;
}
